# ==========================
# Node.js
# ==========================
node_modules/
**/node_modules/

# Build outputs
dist/
build/
**/dist/
**/build/

# Python
__pycache__/
*.pyc
.venv/
venv/
.env
.env.*

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db